$bg-linear: linear-gradient(144deg, rgba(13,13,13,0.9444152661064426) 0%, rgba(13,13,13,0.8939950980392157) 45%, rgba(13,13,13,0.6979166666666667) 59%, rgba(13,13,13,0.3337710084033614) 72%, rgba(1,2,4,0.2553396358543417) 100%);

@font-face {
  font-family: 'Domine';
  src: url('../fonts/Domine-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

// Fuente Regular
@font-face {
  font-family: 'Domine';
  src: url('../fonts/static/Domine-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Fuente Medium
@font-face {
  font-family: 'Domine';
  src: url('../fonts/static/Domine-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Fuente SemiBold
@font-face {
  font-family: 'Domine';
  src: url('../fonts/static/Domine-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// Fuente Bold
@font-face {
  font-family: 'Domine';
  src: url('../fonts/static/Domine-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-domine { font-family: 'Domine', serif;}